fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
celery[redis]
redis
pydantic-settings
lightkurve
astropy
wotan
scipy
numpy
torch
torchvision
matplotlib
pillow
python-multipart
slowapi
python-jose
